PORT=4000
MONGO_URL=mongodb+srv://yuliiayarova96_db_user:H1grqpkvsR9C4Osu@cluster0.qjhhqri.mongodb.net/relaxmap_db?appName=Cluster0

JWT_SECRET=wKYqbcFlT0AOdZPkyTH6URf0gG

FRONTEND_DOMAIN=http://localhost:4000

CLOUDINARY_CLOUD_NAME=datydy8mi
CLOUDINARY_API_KEY=988665161342531
CLOUDINARY_API_SECRET=zs8RvvkcEAuTbx7Mkv1W-9bzwF0
